body {
	padding: 1em;
	margin: 0;
}
header, article, footer {
	max-width: 720px;
	width: 100%;
	text-align: center;
}

article {
	margin: 2em auto;
	border: 1px dashed #ddd;
	padding: 2em;
}
article .content {
	text-align: left;

}

footer {
	font-size: 75%;
	margin-top: 2em;
}